h1 {
    color: rgb(0, 0, 0);
    font-family: 'Amatic SC', cursive;
    text-align: center;
    font-size: 400%;
}
h2 {
    color: rgb(0, 0, 0);
    font-family: 'Amatic SC', cursive;
    text-align: center;
    font-size: 200%;
}
body {
    background-color: rgb(255, 255, 255);
}
div {
    color: rgb(0, 0, 0);
    font-family: 'Amatic SC', cursive;
    text-align: center;
    font-size: 200%;
}
a {
    font-family: 'Amatic SC', cursive;
    color: rgb(0, 0, 0);
}
