h1 {
  color: rgb(47, 47, 47);
  font-family: "Amatic SC", cursive;
  text-align: center;
  font-size: 200%;
}
h2 {
  color: rgb(47, 47, 47);
  font-family: "Amatic SC", cursive;
  text-align: center;
  font-size: 200%;
}
body {
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: 2px solid red; */
  margin: 0px;
  padding: 0px;
}
div {
  color: rgb(47, 47, 47);
  font-family: "Amatic SC", cursive;
  text-align: center;
  font-size: 300%;
  height: fit-content;
}
a {
  font-family: "Amatic SC", cursive;
  font-size: 1em;
  color: rgb(47, 47, 47);
}
.footer {
  /* width: 100%; */
  /* height: 80px; Height of the footer */
  background: rgb(255, 255, 255);
  /* border: 2px solid red; */
  /* flex-shrink: 1; */
  padding-bottom: 1em;
  bottom: 0;
}
.socialIcon {
  width: 2em;
}
.socialLink {
  text-decoration: none;
}
ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  width: 50%;
  flex-wrap: wrap;
  padding: 0px;
}
#top {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 80%;
  top: 0%;
}

.topnav {
  font-size: xx-large;
  width: 100%;
}
.email {
  font-size: 300%;
}
.flexbox {
  /* border: 2px, solid, black; */
  border: 5px black solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* scroll-behavior: auto; */
  /* overflow: auto; */
  align-items: center;
}
#first-post {
  width: 30%;
  height: 30%;
}
.phonenumber {
  font-size: 300%;
}
html {
  scroll-behavior: smooth;
}
