h1 {
  color: rgb(47, 47, 47);
  font-family: "Amatic SC", cursive;
  text-align: center;
  font-size: 6rem;
}
h2 {
  color: rgb(47, 47, 47);
  font-family: "Amatic SC", cursive;
  text-align: center;
  font-size: 3rem;
}
body {
  height: 100vh;
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* border: 2px solid red; */
  margin: 0px;
  padding: 0px;
}
div {
  color: rgb(47, 47, 47);
  font-family: "Amatic SC", cursive;
  text-align: center;
  font-size: 3rem;
  height: fit-content;
}
a {
  font-family: "Amatic SC", cursive;
  font-size: 1em;
  color: rgb(47, 47, 47);
}
.footer {
  /* width: 100%; */
  /* height: 80px; Height of the footer */
  background: rgb(255, 255, 255);
  /* border: 2px solid red; */
  /* flex-shrink: 1; */
  padding-bottom: 1em;
  bottom: 0;
}
.socialIcon {
  width: 2em;
}
.socialLink {
  text-decoration: none;
}
ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  width: 50%;
  flex-wrap: wrap;
  padding: 0px;
}
#top {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 80%;
  top: 0%;
}
li {
}
.topnav {
  font-size: xx-large;
}
#email {
  width: 100%;
}
